* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --dark-blue: hsl(233, 26%, 24%);
  --lime-green: hsl(136, 65%, 51%);
  --bright-cyan: hsl(192, 70%, 51%);
  --grayish-blue: hsl(233, 8%, 62%);
  --light-grayish-blue: hsl(220, 16%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --font: "Public Sans", sans-serif;
}

body {
  font-family: var(--font);
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 90%;
  max-width: 1400px;
}

section {
  padding: 3rem 0;
}

.btn {
  border: none;
  border-radius: 100vh;
  color: white;
  font-weight: bold;
  letter-spacing: 0.1rem;
  cursor: pointer;
  display: inline-block;
  height: 2rem;
  width: 10rem;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-image: -o-linear-gradient(
    left,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
  background-image: -webkit-gradient(
    linear,
    left top, right top,
    from(hsl(136, 65%, 51%)),
    to(hsl(192, 70%, 51%))
  );
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}

.btn:hover {
  -webkit-filter: contrast(150%);
  filter: contrast(150%);
  -webkit-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  transform: translateY(-0.25rem);
}

.btn:focus {
  outline: none;
  transform: scale(1.2);
}

/* nav */

nav {
  height: 10vh;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

nav .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-btn {
  display: none;
}

.nav__list {
  list-style-type: none;
  background: white;
  position: absolute;
  -webkit-transform: translateX(-170%);
  -ms-transform: translateX(-170%);
  transform: translateX(-170%);
  top: 17vh;
  left: 50%;
  text-align: center;
  width: 80vw;
  padding: 1.2rem;
  color: black;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav__list li {
  margin: 1.5rem;
  color: var(--dark-blue);
}

input {
  display: none;
}

.nav-toggle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: -o-linear-gradient(330deg, var(--lime-green), var(--bright-cyan));
  background: linear-gradient(120deg, var(--lime-green), var(--bright-cyan));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-toggle:hover {
  cursor: pointer;
}

nav span {
  position: relative;
  height: 2px;
  width: 22px;
  border-radius: 5px;
  background: white;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

span::before,
span::after {
  height: 2px;
  width: 22px;
  border-radius: 5px;
  background: white;
  content: "";
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span::before {
  top: -8px;
}

span::after {
  top: 8px;
}

input:checked ~ label span {
  background-color: transparent;
}

input:checked ~ label span::before {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
}

input:checked ~ label span::after {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  top: 0;
}

input:checked ~ .nav__list {
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

/* hero */

.hero {
  background-color: var(--very-light-gray);
}

.hero__image {
  background-image: url(images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: cover;
}

.hero__image img {
  max-width: 100%;
  margin-top: -30%;
  z-index: -1000;
}

.hero__body-header {
  font-size: 2.3rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.hero__body {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

/* about */
.about {
  background-color: var(--light-grayish-blue);
}

.hero__body-text,
.about__text,
.about__body {
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--grayish-blue);
}

h4 {
  font-weight: normal;
  text-align: center;
  font-size: 1.5rem;
  color: var(--dark-blue);
  margin: 1.5rem 0;
}

/* articles */
.articles {
  background-color: var(--very-light-gray);
}

article {
  margin-bottom: 1.5rem;
  border-radius: 10px;
}

.section-header {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 2rem;
  font-weight: normal;
  color: var(--dark-blue);
}

.article__body {
  background-color: var(--white);
  padding: 1.5rem;
}

.article__body-author {
  font-weight: normal;
  font-size: 1rem;
  color: var(--grayish-blue);
}

.article__body-text,
.hero__body-text {
  color: var(--grayish-blue);
}

.article__body-title {
  font-weight: normal;
  color: var(--dark-blue);
  margin: 1rem 0;
}

.article__image {
  border-radius: 10px 10px 0 0;
  height: 250px;
}

.article__image img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* footer */

footer svg path {
  fill: var(--white);
}

footer .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__logo {
  text-align: center;
}

footer ul {
  list-style-type: none;
  text-align: center;
}

footer {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 2em 0;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 1.5rem 0;
}

.list-1 {
  margin-bottom: 1rem;
}

.footer__nav-list li,
.footer__social-list li {
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__social-list li:hover path {
  fill: var(--lime-green);
}

.footer__nav-list li:hover {
  color: var(--lime-green);
  letter-spacing: 0.2rem;
}

.footer__social-list li  {
  margin-left: 1.2rem;
}

.footer__nav-list li + li {
  margin-top: 1rem;
}

.copyright {
  color: var(--grayish-blue);
  font-size: 0.9rem;
  display: block;
}

.footer-btn {
  margin: 1.3rem 0;
}

@media (min-width: 670px) {
  .container:not(footer .container) {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .hero {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5% 4fr 5fr 5%;
    grid-template-columns: 5% 4fr 5fr 5%;
    -ms-grid-rows: 40vh;
    grid-template-rows: 40vh;
    padding: 0;
    position: relative;
    top: 10vh;
  }

  .hero > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .hero > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .hero > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .hero > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }

  .hero__body {
    text-align: left;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    width: 100%;
    padding-top: 7em;
  }

  .hero__body-header,
  .hero__body-text {
    text-align: left;
    max-width: 50ch;
  }

  .hero__image {
    position: relative;
    background-image: url(images/bg-intro-desktop.svg);
    background-size: 130%;
    background-position: 15% 40%;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 3;
    grid-column: 3 / 6;
  }

  .hero__image img {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    margin-top: -10%;
    position: absolute;
    top: -20%;
    right: -10%;
    z-index: 100;
  }

  .about__body {
    width: min(310px, 100%);
    text-align: left;
  }

  section.about {
    padding-top: 10rem;
  }

  .about p,
  .about h4 {
    text-align: left;
  }

  article {
    width: 300px;
  }

  .section-header {
    text-align: left;
  }

  .section-header-wrapper {
    width: 100%;
  }

  .section-header-wrapper p {
    width: 70ch;
    margin: 1.5rem 0 4.5rem 0;
  }

  .section-header {
    width: 100%;
  }

  article {
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }

  article:hover {
    -webkit-box-shadow: 0 1rem 2rem rgba(50, 50, 50, 0.1);
    box-shadow: 0 1rem 2rem rgba(50, 50, 50, 0.1);
    cursor: pointer;
  }

  .article__body-title:hover {
    color: var(--lime-green);
  }
}

@media (min-width: 700px) and (orientation: landscape) {
  nav {
    height: 15vh;
  }

  .hero {
    -ms-grid-rows: 450px;
    grid-template-rows: 450px;
  }
}

@media (min-width: 900px) {
  .hero {
    -ms-grid-rows: 80vh;
    grid-template-rows: 80vh;
  }

  .nav-toggle {
    display: none;
  }

  .nav-btn {
    display: inline-block;
  }

  nav {
    height: 15vh;
  }

  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    background-color: transparent;
    position: static;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    width: 40%;
  }

  .nav__list li {
    margin: 0 1.5rem;
  }

  .nav__list li:hover {
    -webkit-text-decoration: underline 2px var(--lime-green);
    text-decoration: underline 2px var(--lime-green);
    cursor: pointer;
  }

  footer .container {
    padding: 2rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
        grid-template-areas: "logo list-1 list-2 button";
  }

  .footer__logo {
    grid-area: logo;
  }

  .footer-btn {
    margin: 0 0 1.5rem 0;
  }

  .footer__social-list {
    width: 60%;
    margin: 1.5rem auto;
  }

  .list-1 {
    grid-area: list-1;
    margin-bottom: 0;
  }

  .list-2 {
    grid-area: list-2;
  }

  .footer__bottom {
    grid-area: button;
    -ms-grid-column-align: end;
    justify-self: end;
    align-self: flex-start;
  }
}

@media (min-width: 900px) {

  .footer__logo {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }

  .list-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }

  .list-2 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }

  .footer__bottom {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
}


